[submodule "deps/GLFW"]
	path = deps/GLFW
	url = https://github.com/glfw/glfw.git

[submodule "doxygen/doxygen-awesome"]
	path = doxygen/doxygen-awesome
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "deps/OpenAL"]
	path = deps/OpenAL
	url = https://github.com/kcat/openal-soft
[submodule "deps/sndfile"]
	path = deps/sndfile
	url = https://github.com/libsndfile/libsndfile.git
